html {
	height:100%;
	width: 100%;
	font-family: "Source Sans Pro";
}

body{
	/* Image citation: http://s1.1zoom.net/big0/244/Meat_products_Roast_457899.jpg */
	background:
    linear-gradient(
      rgba(0, 0, 0, 0.30),
      rgba(0, 0, 0, 0.30)
    ),
	url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h1 {
	font-family: "Playfair Display";
}

input.search-input {
	display: block;
	margin-bottom: 1%;
}

input[type=submit] {
  color: #333;
  text-decoration: none;
  transition: 0.3s all ease;
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  border: 3px solid #B81A2E;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
}
input[type=submit]:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
input[type=submit]:active {
  color:black
}

#projectInfo {
	color: white;
	position: absolute;
	top: 1%;
	right: 1%;
}

#contentContainer{
	padding-top: 20vh;
	width: 50%;
	margin: auto;
}
#content {
	background: rgba(255, 255, 255, 1);
	border-radius: 30px;
	margin: 0 10px;
	padding-bottom: 10px;
}
#content h1 {
	font-size: 70px;
	color: black;
	text-align: center;
	font-family: 'Playfair Display', serif;
	letter-spacing: 3px;
	margin-top: 15px;
	margin-bottom: 25px;
}
.center {
	text-align: center;
}

#dashboard {
	height: 450px;
	width: 100%;
	margin: 20px;
	display: flex;
}

#userFoodRatingContainer, #userFoodNutrientsContainer, #userFoodOptimalMoodContainer {
	display: inline-block;
	height: 350px;
	width: 33%;
	padding: 10px;
}

#userFoodRatingContainer svg, #userFoodOptimalMoodContainer svg {
	margin: auto;
	display: block;
}

#userFoodNutrientsContainer {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 10%;
	font-size: 25px;
}

#foodInput{
	text-decoration: underline;
}

.resultsCard{
	height: 420px;
	width: 654px;
	margin: 50px auto;
	border-radius: 7px 7px 7px 7px;
	/* VIA CSS MATIC https://goo.gl/cIbnS */
	-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.resultsImage{
	float: left;
  	height: 420px;
 	width: 327px;
}

.resultsImage img{
	border-radius: 7px 0 0 7px;
}

.resultsInfo {
	float: left;
	height: 370px;
	width: 327px;
	border-radius: 0 7px 10px 7px;
	background-color: #ffffff;
}

.resultsText{
	height: 300px;
  	width: 327px;
}

.resultsText h1{
	margin: 0 0 0 38px;
	padding-top: 15px;
	font-size: 34px;
	color: #474747;
}
