html {
	height:100%;
	width: 100%;
	font-family: "Source Sans Pro";
}


h1 {
	font-family: "Playfair Display";
}



input.search-input {
	display: block;
	margin-bottom: 1%;
}

#projectInfo {
	color: white;
	position: absolute;
	top: 1%;
	right: 1%;
}

#contentContainer {
	background: rgba(255, 255, 255, 0.6);
	width: 50%;
	border-radius: 10px;
}
#content {
	margin:10px;
	padding-bottom: 10px;
}

#content h1 {
	font-size: 90px;
	font-weight: bold;
	color: black;
}
