html {
	height:100%;
	width: 100%;
}
body {
	/* Image source: https://tr.123rf.com/photo_41940521_yiyecek-i%C3%A7ecek-parti-%C3%B6%C4%9F%C3%BCn-i%C3%A7ecek-konsepti.html */
	background-image: url(../images/foodTable.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
input.search-input {
	display: block;
	margin-bottom: 1%;
}

#projectInfo {
	color: white;
	position: absolute;
	top: 1%;
	right: 1%;
}
h1 {
	font-size: 90px;
	color: white;
}

